* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

.container {
  display: flex;
  width: 1013px;
  height: 344px;
  align-items: center;
  gap: 4px;
  margin: 0 auto;
  margin-top: 50px;
}

.app {
  height: 174px;
  padding: 12px 15px 26px 16px;
}

.app_component {
  height: 194px;
  padding: 12px 15px 26px 16px;
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 1px 1px 10px 1px #cccccc;
  transition: all 0.2s ease-in-out;
}

.app_component:hover {
  transform: translateY(-5px);
}

.app_component-header {
  display: flex;
  width: 296px;
  height: 42.353px;
  align-items: flex-start;
  gap: 18px;
}

.app_component-header--img img {
  width: 32px;
  height: 32px;
  border-radius: 3px;
  top: 2px;
}

.app_component-header--name h2 {
  color: #242424;
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.app_component-header--name span {
  width: 12px;
  height: 13px;
  margin-left: 5px;
}

.app_component-header--name p {
  color: #616161;
  font-family: Segoe UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.app_component-content {
  width: 296px;
  height: 32px;
  color: #616161;
  font-family: Segoe UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 5px 0px;
}

.app_component-star {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin: 15px 0px;
}

.app_component-button button {
  gap: 2px;
  border: none;
  border-radius: 100px;
  background: #E8EBFA;
  padding: 4px 8px;
  margin: 0px 2px;
  color: #5B5FC7;
  font-family: Segoe UI;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}


/* ================== */

.ui-input__input {
  width: 350px;
  outline: none;
  padding-left: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}

.Opcity1 {
  animation: opacityCss1 1s both;
}

.Opcity2 {
  animation: opacityCss2 1s both;
}

@keyframes opacityCss1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacityCss2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* menu li */

.ui-menu__itemwrapper {
  padding: 10px 0px;
  animation: all 0.2s
}

.ui-menu__itemwrapper:hover {
  border-bottom: 1px solid #fff;
  cursor: pointer;
  animation: identifier 0.3s both;
}

@keyframes identifier {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);

  }
}

.ui-menu__itemwrapper:hover .iconMenu {
  animation: rote 1s both;
}

@keyframes rote {
  0% {
    transform: rotate(19deg);

  }

  30% {
    transform: rotate(-19deg);
  }

  50% {
    transform: rotate(19deg);

  }

  70% {
    transform: rotate(-19deg);
  }

  100% {
    transform: rotate(-19deg);
  }
}


/* content */

.content_iconBoder {
  border-top: 1px solid rgba(252, 252, 255, 0.24);
  border-left: 1px solid rgba(255, 255, 255, 0.24);
}

.text {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #fff;
  animation: textWitdth 3.5s linear infinite, textOpacity 0.2s steps(2) infinite;
}

.itemApp {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.14), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}

@keyframes textOpacity {
  0% {
    border-right: transparent;
  }

  100% {
    border-right: 2px solid #fff;
  }
}

@keyframes textWitdth {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}













@media screen and (min-width:768px) and (max-width:1024px) {
  .ui-input__input {
    width: 150px;
  }
}

@media screen and (max-width: 767px) {
  .ui-input__input {
    width: 100px;
    margin-right: 10px;
  }
}